.listItem {
  background: aliceblue;
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  border: 1px solid palevioletred;
  margin: 0 0 1rem;
  cursor: pointer;
}

@media (max-width: 992px) {
  .listItem {
    width: 100%;
  }
}

.listItem img {
  border-radius: 5px 0 0 5px;
}

.listItem div {
  width: 100%;
  text-align: center;
}