.characterDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  align-items: center;
  background-color: #ececec;
  padding: 1rem;
  border-radius: 5px;
}

.textList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 1rem 0;
}

.backButton {
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.backButton:hover {
  color: darkgray;
  cursor: pointer;
}

@media (min-width: 960px) {
  .characterDetail {
    min-width: 100%;
  }
}