.listItem {
  background: aliceblue;
  width: 49%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  border: 1px solid palevioletred;
  margin: 0 0 1rem;
  cursor: pointer;
}

@media (max-width: 992px) {
  .listItem {
    width: 100%;
  }
}

.listItem img {
  border-radius: 5px 0 0 5px;
}

.listItem div {
  width: 100%;
  text-align: center;
}

.listItem .description {
  padding: 0 1rem
}

.listItem .description p {
  font-size: 12px;
  color: black;
  opacity: 0.7;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}