.listItem {
  background: black;
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border: 1px solid black;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none
}


@media (max-width: 576px) {
  .listItem {
    width: 100%;
  }
}

.listItem .imageContainer {
  height: 240px;
  width: 100%;
  align-self: flex-start;
  position: relative;
  border-bottom: 3px solid red;
}

.listItem .contentContainer {
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 240px)
}

.listItem .contentContainer h4 {
  margin-top: 1rem;
  margin-bottom: 0;
  color: white;
}

.listItem .contentContainer .description p {
  font-size: 12px;
  color: white;
  opacity: 0.7;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}